{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans votre frigo
{% endblock %}

{% block body %}

	<a href="remplissage-frigo">
		<h1>Ajouter des produits</h1>
	</a>

	<br>

	<h1>Le contenu actuel de mon frigo :</h1>
	<ul>
		<li>stats du frigo</li>
		<li>stats du frigo</li>
		<li>stats du frigo</li>
		<li>stats du frigo</li>
		<li>stats du frigo</li>
	</ul>


{% endblock %}
